<div class="page-header">
    <h1>Your Notes</h1>
    <div flash-alert="success"active-class="alert in" class="fade" role="alert">
        <span class="alert-message">{{flash.message}}</span>
    </div>
</div>

<a class="btn btn-success" href="/#/new" ng-show="isEmpty">Create note</a>
<table class="table table-striped" ng-hide="isEmpty">
    <thead>
        <tr>
            <th class="col-md-1">ID</th>
            <th class="col-md-6">Title</th>
            <th class="col-md-2">Created at &nbsp;<a class='btn-link' ng-click="toggleOrder()"><span class="glyphicon" ng-class="(orderField == 'created_at') ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></span></a></th>
            <th><a class="btn btn-success" href="/#/new">Create note</a></th>
        </tr>
    </thead>
    <tbody>
        <tr class="note-listing" ng-repeat="note in notes | orderBy: orderField">
            <td>{{note.id}}</td>
            <td>{{note.title}}</td>
            <td>{{note.created_at | fromNow}}</td>
            <td><div confirm-delete on-confirm="delete(note)"></div></td>
        </tr>
    </tbody>
</table>
<a class="btn btn-primary" ng-click="refresh()" ng-disabled="isRefreshing" ng-hide="isRefreshing">Refresh</a>